.navbar {
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    margin-left: 1rem;
}

.nav-icon {
    height: 40px;
}

.profile-pic {
    width: 50px;  /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    object-fit: cover; /* This will ensure that the image covers the entire space of the specified width and height without stretching. */
    border-radius: 50%; /* Optional: if you want to make the profile picture round */
}


.navbar-item {
    margin-right: 1rem;
}

.navbar-menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-link {
    color: #333;
    text-decoration: none;
    transition: color 0.2s;
}

.navbar-link:hover {
    color: #007bff;
}

.dropdown-item {
    color: #333;
}

.dropdown-item:hover {
    color: #007bff;
    background-color: #f8f9fa;
}

.dropdown-item.disabled {
    color: #6c757d;
}
